- title "Quinta da Rica-Fé"
/ End Top Bar
/ Content Slider
%div{"data-magellan-expedition" => "fixed"}
  / Navigation
  .contain-to-grid
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        / Title Area
        %li.name
          %a{href: root_path}
            %h1.logo
              Quinta da Rica-Fé
        %li.toggle-topbar.menu-icon
          %a{href: "#"}
            %span Menu
      %section.top-bar-section
        / Right Nav Seci5on
        = flag_list 24 , :class => 'right' do
          = flags [:pt, :gb], :language => I18n.locale
        %ul.right
          %li{"data-magellan-arrival" => "turism"}
            %a.title-font{:href => "#turism"}
              = t 'turistic.title'
          %li{"data-magellan-arrival" => "reservations"}
            %a.title-font{:href => "#reservations"}
              = t 'reservations.title'
          %li{"data-magellan-arrival" => "contacts"}
            %a.title-font{:href => "#contacts"}
              = t 'contacts.title'
          %li{"data-magellan-arrival" => "map"}
            %a.title-font{:href => "#map"}
              = t 'map.title'
        %nav

.section.first-page{:style=>"background-color:#E0EEEE;"}
  .hide-for-small
    .medium-8.large-7.columns.large-centered{:style=>"padding-top:50px;padding-bottom:50px;"}
      %ul#featured1.data-orbit.orbit-wrapper{"data-orbit" => ""}
        -@images.each_with_index do |file,index|
          %li{"data-orbit-slide" => ""}
            /%div{style:"z-index:50;padding-left:250px;"}
            /  %h3
            /    titulo #{index}.
            %img{alt: 'image', src: "#{file}", alt: "#{file}",  style:""}

  /            %div{"data-orbit-slide" => ""}
  /              %h2
  /                Headline 1
  /              %h3
  /                Subheadline
  / End Content Slider
  / Mobile Header
  .row
    .small-10.columns.show-for-small.large-centered{:style=>"padding-top:20px;padding-bottom:20px;"}
      %img{src: @images.first}/
%br/
/ End Mobile Header

%a{:name => "turism"}
.row.text-center
  .large-12.small-12.columns
    %h1.logo{"data-magellan-destination" => "turism"}
      Quinta da Rica-Fé
.row.text-center
  .large-12.small-12.columns
    %h3.title-font
      = t :subtitle
%hr.margin-bottom-40px
.row.about.clearfix
  .medium-6.large-8.columns
    %p.text-justify
      Situada às portas da cidade de Bragança, a 5 minutos do centro da cidade e a 2 minutos de restaurantes e supermercados, a Quinta da Rica-Fé estende-se por uma área de aproximadamente de 80 hectares.
    %p.text-justify
      A sua incontestável beleza paisagística e a riqueza histórica que encerra, fazem desta um pedaço de paraíso que vale a pena visitar.
  .medium-6.large-4.columns
    %img{:src => "/quinta/story/ricafe-door.png"}/
.row
  .large-12.small-12.collapse
    %h3.text-left.title-font
      História
  %h4.text-left.large-12.small-12
    O nome de Rica-Fé
  %p.text-justify
    Pensa-se que o nome de Rica-Fé tem 800 anos. Segundo a tradição oral, o nome foi dado em homenagem à Rainha Dona Rica e a Santa Fé. A Rainha Dona Rica (1140-1185) foi a segunda mulher de Afonso VII de Leão e Castela e era filha de Ladislau II, duque da Polónia. Santa Fé de Agen, de origem franco-italiana foi martirizada em 303, os seus restos mortais são venerados na Abadia Beneditina de Conques, Rouergue, desde 866, no Caminho Francês de Santiago (Via Podensis).
  %p.text-justify.large-12.small-12
    Nas Inquirições (1º cadastro predial português) de D. Afonso III e D. Dinis, em 1258 o Pároco de Quntanilha fazia referência a esta Quinta como da Ricafé, onde uma casa tinha sido vendida por 100 morabitinos, no Reinado de D Sancho II, por Pelágio Muñoz aos Frades Cistercienses de Moreirola, província de Zamora. O Convento da Moreirola deixou de ter bens em Portugal, a quando da Batalha de Toro, em 1476.
  %p.text-justify.large-12.small-12
    A devoção a Santa Fé com o Caminho de Santiago difundiu-se em França, Espanha, Portugal, Goa Foi em Santa Fé de Granada que os Reis Católicos contrataram Cristóvão Colombo para a descoberta das Índias Ocidentais. O culto de Santa Fé expandiu-se para a América Latina e EUA, onde existem várias cidades com o seu nome.
.row.about.clearfix
  .medium-6.large-4.columns
    %img{:src => "/quinta/story/main-house.jpg"}/
  .medium-6.large-8.columns
    %p.text-justify
      A Casa Senhorial com planta retangular, conserva um capitel românico, em granito trabalhado que reporta para os dois séculos da presença de Cister;


%hr.margin-bottom-40px

%a{:name => "reservations"}
.row.text-center
  .large-12.small-12.columns
    %h1.title-font{"data-magellan-destination" => "reservations"}
      = t 'reservations.title'
    %p
      = t 'reservations.workinprogress'
%a{:name => "contacts"}
%hr.margin-bottom-40px
.row.text-center
  .large-12.small-12.columns
    %h1.title-font{"data-magellan-destination" => "contacts"}
      = t 'contacts.title'
  .small-12.large-12
    +351 967 574 179
    %br
    +351 969 325 439
  .small-12.large-12.large-centered
    %p
      Quinta da Rica-Fé
      %br
      Estrada de Rabal
      %br
      5300-245 Bragança, Portugal

%a{:name => "map"}
%hr.margin-bottom-40px
.row.text-center
  .large-12.small-12.columns
    %h1.title-font{"data-magellan-destination" => "map"}
      = t 'map.title'
  .row
    #google-map.large-10.large-centered.hide-for-small{:style=>"min-width:300px;height:250px;"}
    .small-10.hide-for-large.hide-for-medium.large-centered
      /%img{alt: 'image', src: #{"asds"} image-path("map_screenshot.png"), alt: "map",  style:""}
      %a{href: "https://www.google.pt/maps/place/41%C2%B049'18.6%22N+6%C2%B045'15.5%22W/@41.822589,-6.757349,736m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0", :target => "_blank"}
        =image_tag asset_path('map_screenshot.png'), :size => '380x200'
  .row
    %h3.small-12.large-12
      Coordenadas
    %p
      41.8218146,-6.7541353
    %p
      41°49'18.6"N 6°45'15.5"W
    %h6.small-10.large-10.large-centered
      %a{href: "https://www.google.pt/maps/place/41%C2%B049'18.6%22N+6%C2%B045'15.5%22W/@41.822589,-6.757349,736m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0", :target => "_blank"} Ver no Google Maps


      / End Feed
/ End Content


