!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Rica-Fé"
    = stylesheet_link_tag    "application"
    = javascript_include_tag :modernizr
    = javascript_include_tag "application"


    = csrf_meta_tags
  %body
    .contain-to-grid
      / Navigation
      %nav.top-bar{"data-topbar" => ""}
        %ul.title-area
          / Title Area
          %li.name
            %h1
              %a{href: root_path}
                Quinta da Rica-Fé
          %li.toggle-topbar.menu-icon
            %a{href: "#"}
              %span menu
        %section.top-bar-section
          / Right Nav Section
          %ul.right
            %li.divider
            %li
              %a{href: "#"} Reservar
            %li.divider
            %li.has-dropdown.not-click
              %a{href: static_pages_explore_path} Explorar
              %ul.dropdown
                %li.title.back.js-generated
                  %h5
                    %a{href: "javascript:void(0)"} Back
                %li
                  %a{href: "/static_pages/explore#destination"} Quinta
                %li
                  %a{href: "#"}  História
                %li
                  %a{href: "#"}  Casa das Amoreiras
                %li
                  %a{href: "#"}  O que fazer
                %li
                  %a{href: "#"}  Mais sobre Bragança
            %li.divider
            %li
              %a{href: static_pages_contacts_path} Contactos
            %li.divider

    = yield

    / Footer
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %p © Quinta da Rica-Fé
          .large-6.small-12.columns
            %ul.inline-list.right
              %li
                /%a{href: "#"} Link 1
              %li
                /%a{href: "#"} Link 2
              %li
                /%a{href: "#"} Link 3
              %li
                /%a{href: "#"} Link 4

